*{margin:0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}

.container {
  width: 500px;
  margin: 0 auto;
}
.slide_wrapper {
  position: relative;
  width: 460px;
  margin: 0 auto;
  height: 300px;
  overflow: hidden;
  margin-top: 10%;
}
.slides {
  position: absolute;
  left: 0;
  top: 0;
}
.slides.animated{
  transition: 0.5s ease-out;
}
.slides li {
  width: 200px;
  height: 200px;
  background-color: rgb(168, 191, 255);
  float: left;
}
.slides li:not(:last-child){
  margin-right: 30px;
}
.controls {
  text-align: center;
  margin-top: 50px;
}
.controls span {
  width: 50px;
  height: 30px;
  display: inline-block;
  background-color: blueviolet;
}
.scrollbar {
  position: relative;
  width: 200px;
  height: 7px;
  overflow: hidden;
  margin: 0 auto;
  top: 76%;
  background-color: rgba(0, 0, 0, 0.473);
}
.scrollbar_inner {
  /* position: relative; */
  width: 100%;
  top: 0;
  left:0;
  height: 100%;
  display: block;
  /* transition: 0.5s; */
}
.scrollbar .scrollbar_inner .rod {
  transition: 0.5s;
  height: 100%;
  float: left;
  position: absolute;
  background: rgb(79, 198, 241);
}
.scrollbar_inner .rod.animated {
  background: rgb(79, 198, 241);
  height: 100%;
}
.pageBox {
  position: absolute;
  text-align: center;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.pageBox .page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  /* border: 1px solid; */
  background-color: #bec1fd;
  color: #999;
  transition: 0.5s;
}
.pageBox .page.animated {
  background-color: #7a80f7;
  color: #5d5d5d;
}
.pageBox .page:not(:last-child){
  margin-right: 10px;
}

.pagelocation {
  position: absolute;
  bottom: 22%;
  right: 0;
}

@media (max-width: 700px){
  .container {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .slide_wrapper {
    width: 100%;
  }
}